.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.form-group-footer {
    display: flex;
    justify-content: space-between;
}

.formErrors{
    border: 1px solid darkred; 
    padding: 1em; 
    display: block; 
    color: darkred;
    background: rgba(darkred, .1)
}