html, body {
    height: 100%;
}

body {
    background-color: #F4F3F4;
}

#app {
    height: 100%;
}

.main {
    min-height: calc(100vh - 9rem);
}

.pg-content {
    @include make-row();
    //margin-top: 2rem;
    padding: 2rem 0;
    background-color: $white;
    @include media-breakpoint-up(lg) {
        margin-top: -4rem;
        padding: 4rem 0;
        //border-radius: 0.5rem 0.5rem 0 0;
    }
}

// .btn-group {
//     display: flex;
//     align-items: space-between;
// }

.layout-single-col > div {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(lg) {
        @include make-col(6);
        @include make-col-offset(3)
    }
}
