.app-branding {
    .woof {
        height: 32px;
    }
}

.nav-item {
    color: $black;
    transition: color 250ms;
    //font-weight: $font-weight-bold;
    &:hover {
        color: $primary;
    }
}
